<kendo-grid
  #grid
  [data]="gridSettings.gridData"
  [pageSize]="gridSettings.state.take"
  [skip]="gridSettings.state.skip"
  [sort]="gridSettings.state.sort"
  [filter]="gridSettings.state.filter"
  [groupable]="isGroupable"
  [group]="gridSettings.state.group"
  [sortable]="isSortable"
  [pageable]="isPageable"
  [filterable]="isFilterable"
  [resizable]="isResizable"
  [reorderable]="isReorderable"
  [columnMenu]="haveColumnMenu"
  (dataStateChange)="dataStateChange($event)"
>
  <ng-template kendoGridToolbarTemplate>
    <button class="k-button" (click)="saveGridSettings(grid)">Save current state</button>
    <button
      class="k-button"
      *ngIf="savedStateExists"
      (click)="gridSettings = mapGridSettings(persistingService.get('gridSettings'))">Load saved state</button>
  </ng-template>
  <kendo-grid-column *ngFor="let col of gridSettings.columnsConfig"
                     [field]="col.field"
                     [title]="col.title"
                     [width]="col._width"
                     [filter]="col.filter"
                     [filterable]="col.filterable"
                     [hidden]="col.hidden"
                     [format]="col.format">
  </kendo-grid-column>
</kendo-grid>
